.jexcel_tabs .jexcel_tab_link,
.jexcel_toolbar,
.jexcel_page_selected,
.jexcel > tbody > tr > td:first-child,
.jexcel > tfoot > tr > td,
.jexcel > thead > tr > td {
	background-color: #f3f3f3;
}

.jexcel_toolbar i.jexcel_toolbar_item:hover ,
.jexcel_tabs .jexcel_tab_link.selected {
	background-color:#ddd;
}

.jexcel > thead > tr > td.selected,
.jexcel > tbody > tr.selected > td:first-child {
	background-color:#dcdcdc;
}

.jexcel > tbody > tr.dragging > td {
	background-color:#eee;
}

.jexcel > thead > tr > td.dragging {
    background-color:#fff;
}