.jexcel {
    border-top: 0;
}

.jtoolbar .jpicker-header {
    font-size: 14px;
}

.jtoolbar .jpicker-item {
    font-size: 14px;
}

.jexcel_content > table > thead > tr > td.arrow-down,
.jexcel_content > table > thead > tr > td.arrow-up {
    margin-right: 15px;
    text-decoration: none;
    font-size-adjust: 0.8;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
    background-image: none;
}

.jexcel_content > table > thead > tr > td.arrow-down:after {
    content: " ▲";
    font-size: 11px;
}

.jexcel_content > table > thead > tr > td.arrow-up:after {
    content: " ▼";
    font-size: 11px;
}

/* TABS */

.jexcel_tabs .jexcel_tab_link {
    display: none;
}

.jexcel_content {
    padding: 0;
}

.jexcel_corner {
    margin: 0 -3px -3px 0;
    display: none;
}

/* TEXT FORMAT */
.jexcel * {
    font-family: sans-serif;
}

/* SEARCH CONTAI£NER */

.jexcel_filter {
    display: block;
}

.jexcel_filter > div:nth-child(1) {
    display: none;
} 

/* TOOLBAR */

.jexcel > thead > tr:nth-child(2) {
    display: none;
}

/* COLORS */

.jexcel_tabs .jexcel_tab_link,
.jexcel_toolbar,
.jexcel_filter,
.jexcel > tbody > tr > td:first-child,
.jexcel > tfoot > tr > td,
.jexcel > thead > tr > td {
	background-color: #e8ecf0;
}

.jexcel_tabs .jexcel_tab_link.selected,
.jexcel > tbody > tr.selected > td:first-child,
.jexcel > thead > tr > td.selected{
    background-color:#d6e0ef;
}

.jexcel_filter {
    margin-bottom: -2px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
