.jexcel {
    border-top: 0;
}

.jexcel_content > table > thead > tr > td.arrow-down,
.jexcel_content > table > thead > tr > td.arrow-up {
    text-decoration: none;
    font-size-adjust: 0.8;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
    background-image: none;
}

.jexcel_content > table > thead > tr > td.arrow-down:after {
    content: " ▲";
    font-size: 11px;
}

.jexcel_content > table > thead > tr > td.arrow-up:after {
    content: " ▼";
    font-size: 11px;
}

/* TABS */

.jexcel_tabs .jexcel_tab_link {
    display: none;
}

.jexcel_content {
    padding: 0;
}

.jexcel_corner {
    margin: 0 -3px -3px 0;
    display: none;
}

/* TEXT FORMAT */
.jexcel * {
    font-family: sans-serif;
}

/* SEARCH CONTAI£NER */

.jexcel_filter > div:nth-child(1) {
    display: none;
} 

/* COLORS */

.jexcel_tabs .jexcel_tab_link,
.jexcel_toolbar,
.jexcel_filter,
.jexcel > tbody > tr > td:first-child,
.jexcel > tfoot > tr > td,
.jexcel > thead > tr > td {
	background-color: #e8ecf0;
}

.jexcel_tabs .jexcel_tab_link.selected,
.jexcel > tbody > tr.selected > td:first-child,
.jexcel > thead > tr > td.selected{
    background-color:#e1e9f9;
}

.jexcel .editor .jexcel_richtext, .jexcel .editor > input {
    font-size: 1em;
}

.jexcel_filter {
    /* border-top: 0; */
    border: 1px solid #ccc;
    margin: 0 0 -1px 1px;
}

.jexcel_filter > div {
    padding: 5px 8px 6px 8px;
    align-items: center;
    border-top: 0;
    /* width: 100nw !important; */
}

.jexcel > thead > tr:first-child > td {
    border-top: 0;
    /* border-bottom: 1px solid #ccc; */
}

.jexcel > thead > tr:nth-child(2) > td {
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

/* .jexcel_overflow > tbody > tr:first-child > td {
    border-top: 0;
} */

.jexcel_overflow > tbody > tr:last-child > td {
    border-bottom: 0;
}

.jexcel_overflow > tbody > tr:last-child > td {
    /* border-bottom: 1px transparent; */
    /* border-bottom: 1px solid #ccc; */
    border-bottom: 0;
}

.jexcel .jexcel_overflow {
    border-bottom: 0;
}

.jexcel_container {
    /* display: inline-flex; */
    height: calc(100vh - 1.3em);
}

.jexcel_content {
    margin-right: 0.7em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* 
.jexcel_content table {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
} */

.jexcel_container *  {
    box-shadow: none !important;
}

.jexcel .jexcel_overflow {
    border: 0;
}

.jexcel {
    border-bottom: 0;
    border-right: 1px solid #ccc;
}
/* .jexcel_filter {
    display: block;
} */
/* 
.jexcel .highlight-top,
.jexcel .highlight-left,
.jexcel .highlight-top.highlight-left {
    box-shadow: none !important;   
} */